body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Question {
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}

.QuizLink {
  margin-bottom: 1rem;
}

.QuizLink__question-count {
  padding-left: 0.5rem;
}

.Answers {
  padding: 0 2rem;
}

.Answers input[type="radio"] {
  margin-right: 1rem;
}

.Answers .markdown {
  display: inline;
}
